body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header h1{
    margin-left: 25px;
    font-size: 250%;
}
header h2{
    margin-left: 25px;
    font-size: 100%;
}
header h3{
    margin-right: 25px;
    text-align: right; 
    font-size: 300%;
    transform: translateY(-180px);
}
.container h4{
    margin-right: 230px;
    text-align: right; 
    font-size: 100%;
    transform: translateY(-200px);
}
